<launch>
    <arg name="control_topic" default="/mux/ackermann_cmd_mux/input/navigation" />
    <arg name="init_pose_topic" default="/initialpose" />
    <arg name="car_pose_topic" default="/car_pose" />
    <arg name="controller" default="/pid" />
    <!-- <arg name="config" default="$(find mushr_ros_intro)/config/" /> -->

    <node pkg="can_racecar" type="control.py" name="control" output="screen">
        <param name="control_topic" value="$(arg control_topic)" />
        <param name="init_pose_topic" value="$(arg init_pose_topic)" />
        <param name="car_pose_topic" value="$(arg car_pose_topic)" />
        <param name="controller" value="$(arg controller)" />
    </node>
</launch>

